{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
</header>

{{- if .Content }}
<div class="post-content md-content">
  {{- .Content }}
</div>
{{- end }}

{{- range .Sections }}
{{- $pages := .RegularPages }}
{{- if $pages }}
<div class="archive-year">
  <div class="archive-month">
    <h3 class="archive-month-header">{{ .Title }}</h3>
    <div class="archive-posts">
      {{- range $pages }}
      <div class="archive-entry">
        <h3 class="archive-entry-title">{{ .Title | markdownify }}</h3>
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
      </div>
      {{- end }}
    </div>
  </div>
</div>
{{- end }}
{{- end }}

<hr>

<header class="page-header">
  <h1>Substack</h1>
</header>

{{ partial "substack-feed.html" . }}

{{- end }}
